<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz: Derecho Constitucional Interactivo</title>
</head>
<body>
    <form action="/submit" method="post">
        <!-- Pregunta 0 -->
        <fieldset>
            <legend>¿Qué es el derecho?</legend>
            <label for="q_0_a">a. Ciencia social que estudia las normas que regulan a la sociedad.</label>
            <input type="radio" name="q_0" id="q_0_a" value="a" required>

            <label for="q_0_b">b. Materia académica y judicial que impone normas a seguir.</label>
            <input type="radio" name="q_0" id="q_0_b" value="b">

            <label for="q_0_c">c. Orden normativo que regula la conducta humana.</label>
            <input type="radio" name="q_0" id="q_0_c" value="c" required>
        </fieldset>

        <!-- Pregunta 1 -->
        <fieldset>
            <legend>El Derecho Constitucional es una rama que estudia...</legend>
            <label for="q_1_a">La administración pública.</label>
            <input type="radio" name="q_1" id="q_1_a" value="a">

            <label for="q_1_b">b. Principios, Conceptos y Leyes.</label>
            <input type="radio" name="q_1" id="q_1_b" value="b" required>

            <label for="q_1_c">c. Las relaciones jurídicas entre individuos.</label>
            <input type="radio" name="q_1" id="q_1_c" value="c">

            <label for="q_1_d">d. Las condiciones laborales y económicas.</label>
            <input type="radio" name="q1" id="q_1_d" value="d">
        </fieldset>

        <!-- Pregunta 2 -->
        <fieldset>
            <legend>Qué es la soberanía?</legend>
            <label for="q_2_a">a. Capacidad del estado para decidir sobre asuntos internos.</label>
            <input type="radio" name="q_2" id="q_2_a" value="a" required>

            <label for="q_2_b">b. Integridad de un individuo.</label>
            <input type="radio" name="q_2" id="q2_b" value="b">

            <label for="q_2_c">c. La represión y privatización de bienes.</label>
            <input type="radio" name="q_2" id="q_2_c" value="c">
        </fieldset>

        <!-- Pregunta 3 -->
        <fieldset>
            <legend>¿A qué clasificación pertenece el Derecho Constitucional?</legend>
            <label for="q_3_a">a. Derecho Privado.</label>
            <input type="radio" name="q_3" id="q_3_a" value="a" >

            <label for="q_3_b">b. Derecho Público</label>
            <input type="radio" name="q_3" id="q_3_b" value="b" required>
        </fieldset>

        <!-- Pregunta 4 -->
        <fieldset>
            <legend>¿Qué límites establece el Derecho Constitucional?</legend>
            <label for="q_4_a">a. El control sobre el pueblo.</label>
            <input type="radio" name="q_4" id="q_4_a" value="a">

            <label for="q_4_b">b. El alcance que tienen las leyes.</label>
            <input type="radio" name="q_4" id="q_4_b" value="b">

            <label for="q_4_c">c. Restringe al poder político en la creación de normas.</label>
            <input type="radio" name="q_4" id="q_4_c" value="c" required>
        </fieldset>

        <!-- Pregunta 5 -->
        <fieldset>
            <legend>quest</legend>
            <label for="a. Arcana, Civil y Electoral.">ans</label>
            <input type="radio" name="q5" id="q5_a" value="a">

            <label for="q_5_b">b. Judicial, Ejecutiva y Legislativa.</label>
            <input type="radio" name="q_5" id="q_5_b" value="b">

            <label for="q5_c">c. Dogmática y Orgánica.</label>
            <input type="radio" name="q_5" id="q_5_c" value="c" required>
        </fieldset>

        <!-- Pregunta 6 -->
        <fieldset>
            <legend>¿Qué constituciones son aquellas donde la propiedad fundamental de los medios de producción está en manos del gobierno?</legend>
            <label for="q_6_a">a. Capitalistas.</label>
            <input type="radio" name="q_6" id="q6_a" value="a">

            <label for="q_6_b">b. Mixtas.</label>
            <input type="radio" name="q_6" id="q_6_b" value="b">

            <label for="q_6_c">c. Socialistas</label>
            <input type="radio" name="q_6" id="q_6_c" value="c" required>
        </fieldset>

        <!-- Pregunta 7 -->
        <fieldset>
            <legend>Según lo visto, ¿cómo pueden ser las constituciones?</legend>
            <label for="q_7_a">a. Pueden ser unitarias o dispersas.</label>
            <input type="radio" name="q_7" id="q_7_a" value="a" required>

            <label for="q_7_b">b. Pueden ser largas o cortas.</label>
            <input type="radio" name="q7" id="q_7_b" value="b">

            <label for="q_7_c">c. Pueden ser antiguas o modernas.</label>
            <input type="radio" name="q_7" id="q_7_c" value="c">
        </fieldset>

        <!-- Pregunta 8 -->
        <fieldset>
            <legend>¿Cuál es el propósito de la Constitución mexicana?</legend>
            <label for="q_8_a">a. Establecer un sistema federal de gobierno y reconocer los derechos humanos, sociales y económicos de los ciudadanos.</label>
            <input type="radio" name="q_8" id="q_8_a" value="a" required>

            <label for="q_8_b">b. Establecer un sistema unitario de gobierno y reconocer solo los derechos humanos de los ciudadanos.</label>
            <input type="radio" name="q_8" id="q_8_b" value="b">

            <label for="q_8_c">. Establecer un sistema confederado de gobierno y reconocer solo los derechos económicos de los ciudadanos.</label>
            <input type="radio" name="q_8" id="q_8_c" value="c">
        </fieldset>

        <!-- Pregunta 9 -->
        <fieldset>
            <legend>¿Cuál es el propósito de la Constitución mexicana?</legend>
            <label for="q_9_a">a. México es una monarquía constitucional donde el rey tiene el poder supremo.</label>
            <input type="radio" name="q_9" id="q_9_a" value="a">

            <label for="q_9_b">b. México es una república representativa, democrática, laica y federal, donde la soberanía reside esencial y originariamente en el pueblo.</label>
            <input type="radio" name="q_9" id="q_9_b" value="b" required>

            <label for="q_9_c">c. México es una república teocrática donde la religión oficial tiene un papel dominante en el gobierno.</label>
            <input type="radio" name="q_9" id="q_9_c" value="c">
        </fieldset>

        <!-- Pregunta 10 -->
        <fieldset>
            <legend>¿Qué limitaciones impone la Constitución a los niveles de gobierno?</legend>
            <label for="q_10_a">a. No pueden celebrar alianzas con otros estados o potencias extranjeras.</label>
            <input type="radio" name="q_10" id="q_10_a" value="a">

            <label for="q_10_b">b. No pueden acuñar moneda o emitir papel moneda.</label>
            <input type="radio" name="q_10" id="q_10_b" value="b">

            <label for="q_10_c">c. No pueden gravar el tránsito o las mercancías que atraviesen su territorio.</label>
            <input type="radio" name="q_10" id="q_10_c" value="c">

            <label for="q_10_d">d. Todas las anteriores.</label>
            <input type="radio" name="q_10" id="q_10_d" value="d" required>
        </fieldset>

        <!-- Pregunta 11 -->
        <fieldset>
            <legend>¿Qué deben hacer los estados con las leyes federales?</legend>
            <label for="q_11_a">a. Ignorarlas</label>
            <input type="radio" name="q_11" id="q_11_a" value="a">

            <label for="q_11_b">b. Publicarlas y hacerlas cumplir</label>
            <input type="radio" name="q_11" id="q_11_b" value="b" required>

            <label for="q_11_c">c. Modificarlas.</label>
            <input type="radio" name="q_11" id="q_11_c" value="c">

            <label for="q_11_d">d. Rechazarlas.</label>
            <input type="radio" name="q_11" id="q_11_d" value="d">
        </fieldset>


        <!-- Pregunta 12 -->
        <fieldset>
            <legend>¿Cómo se divide el Congreso general según el Artículo 50?</legend>
            <label for="q_12_a">a. En tres Cámaras.</label>
            <input type="radio" name="q_12" id="q_12_a" value="a">

            <label for="q12_b">b. En dos Cámaras, una de diputados y otra de senadores.</label>
            <input type="radio" name="q_12" id="q_12_b" value="b" required>

            <label for="q_12_c">c. En una Cámara de diputados.</label>
            <input type="radio" name="q_12" id="q_12_c" value="c">

            <label for="q_12_d">d. En una Cámara de senadores."</label>
            <input type="radio" name="q_12" id="q_12_d" value="d">
        </fieldset>

        <!-- Pregunta 13 -->
        <fieldset>
            <legend>¿Qué establece el artículo 83 sobre los ex-presidentes?</legend>
            <label for="q_13_a">a. No pueden ser reelegidos.</label>
            <input type="radio" name="q_13" id="q_13_a" value="a" required>

            <label for="q13_b">b. Pueden ser reelegidos.</label>
            <input type="radio" name="q_13" id="q_13_b" value="b">

            <label for="q_13_c">c. Pueden postularse para senadores.</label>
            <input type="radio" name="q_13" id="q_13_c" value="c">

            <label for="q_13_d">d. Pueden postularse para diputados.</label>
            <input type="radio" name="q_13" id="q_13_d" value="d">
        </fieldset>

        <!-- Pregunta 14 -->
        <fieldset>
            <legend>¿En quién recae el ejercicio del Supremo Poder Ejecutivo de la Unión según el Artículo 80?</legend>
            <label for="q_14_a">a. En el Congreso.</label>
            <input type="radio" name="q_14" id="q_14_a" value="a" required>

            <label for="q14_b">b. En los diputados.</label>
            <input type="radio" name="q_14" id="q_14_b" value="b">

            <label for="q_14_c">c. En los senadores.</label>
            <input type="radio" name="q_14" id="q_14_c" value="c">

            <label for="q_14_d">d. En el presidente de los Estados Unidos Mexicanos.</label>
            <input type="radio" name="q_14" id="q_14_d" value="d" required>
        </fieldset>

        <!-- Pregunta 15 -->
        <fieldset>
            <legend>¿Qué caracteriza al modelo de Gobierno Parlamentario?</legend>
            <label for="q_15_a">a. El poder reace en el pueblo, en donde los ciudadanos tienen el poder de elegir a sus representantes.</label>
            <input type="radio" name="q_15" id="q_15_a" value="a" required>

            <label for="q_15_b">b. Se basa en la jefatura de 2 jefes de estado.</label>
            <input type="radio" name="q_15" id="q_15_b" value="b">

            <label for="q_15_c">c. El jefe de estado y el jefe de gobierno son la misma persona.</label>
            <input type="radio" name="q_15" id="q_15_c" value="c">

            <label for="q_15_d">d. El jefe de estado y el jefe de gobierno son personas distintas personas.</label>
            <input type="radio" name="q_15" id="q_15_d" value="d" required>
        </fieldset>

        <!-- Pregunta 16 -->
        <fieldset>
            <legend>'La República Mexicana es definida como una república representativa, democrática, laica y federal.'</legend>
            <label for="q_16_a">a. Artículo 39.</label>
            <input type="radio" name="q_16" id="q_16_a" value="a">

            <label for="q_16_b">b. Artículo 40</label>
            <input type="radio" name="q_16" id="q_16_b" value="b" required>

            <label for="q_16_c">c. Artículo 38</label>
            <input type="radio" name="q_16" id="q_16_c" value="c">
        </fieldset>

        <!-- Pregunta 17 -->
        <fieldset>
            <legend>¿Qué artículo estipula la función del poder legislativo?</legend>
            <label for="q_17_a">a. No. 45</label>
            <input type="radio" name="q_17" id="q_17_a" value="a">

            <label for="q_17_b">b. No. 50</label>
            <input type="radio" name="q_17" id="q_17_b" value="b" required>

            <label for="q_17_c">c. No. 72</label>
            <input type="radio" name="q_17" id="q_17_c" value="c">
        </fieldset>

        <!-- Pregunta 18 -->
        <fieldset>
            <legend>¿Cuáles son las 3 formas de gobierno en México?</legend>
            <label for="q_18_a">a. Estatal, Federal, Municipal.</label>
            <input type="radio" name="q_18" id="q_18_a" value="a" required>

            <label for="q_18_b">b. Centralista, Izquierdista, Socialismo.</label>
            <input type="radio" name="q_18" id="q_18_b" value="b">

            <label for="q_18_c">c. Neoliberalismo, Capitalismo, Independiente.</label>
            <input type="radio" name="q_18" id="q_18_c" value="c">
        </fieldset>

        </fieldset>
        <button type="submit">Enviar respuestas</button>
    </form>
</body>
</html>